.sidebar {
  flex: 1;
  height: calc(120vh - 50px);
  background-color: rgb(222, 222, 230);
  position: sticky;
  top: 50px;
}
.sidebarWrapper {
  padding: 20px;
  color: #555;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  color: rgb(102, 91, 91);
  font-size: 13px;
}
.sidebarList {
  list-style: none;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-items: center;
  border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(226, 204, 204);
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
